[Unit]
DefaultDependencies=no
Before=qrtr-ns.service
RequiresMountsFor=/lib/firmware /usr/sbin

[Service]
Type=oneshot
ExecStart=/usr/sbin/msm-firmware-loader.sh

[Install]
WantedBy=multi-user.target
